<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/assets/style.css">
    <title>Dreamly</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Dreamly</h1>
        <p>Your personal dream journal to facilitate lucid dreaming</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a href="/dreamly/newlog"><p class="text-center">Log your dream</p></a>
                <p class="text-center">Write down important details about your dreams before you forget</p>
            </div>
            <div class="col-sm-4">
                <a href="/dreamly/logs"><p class="text-center">View past logs</p></a>
                <p class="text-center">A convenient collection of your past logs</p>
            </div>
            <div class="col-sm-4">
                <a href="/dreamly/tips"><p class="text-center">Useful lucid dreaming advice</p></a>
                <p class="text-center">Useful information that you can incorporate into your everyday life to help facilitate lucid dreaming experiences</p>
            </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>