<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dreamly</title>
</head>
<body>
    <h1>Dreamly home!</h1>
    <a href="/dreamly/logs">Link to dream log list</a>
    <a href="/dreamly/newlog">Link to create dream log</a>
    <a href="/dreamly/tips">Link to usefull lucid dreaming advice</a>
</body>
</html>