<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dreamly</title>
</head>
<body>
    <h1>Log a dream</h1>
    <form action="/dreamly/logs" method="POST">
        Night of dream: <input type='date' name='nightOf%'/><br>
        Setting of dream: <input type="text" name='setting'/><br>
        Description: <input type='text' name='description'/><br>
        Emotions: <input type='text' name='emotions'/><br>
        <input type='submit' value='Log dream'/>
    </form>
</body>
</html>