<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>Dreamly</title>
</head>
<body>
    <h1>Log a dream</h1>
    <form action="/dreamly/logs" method="POST">
        <div class="form-group">
            <label for="nightOfInput">Night of dream (Ex. Oct 24, 2020)</label>
            <input type='text' class="form-control" name='nightOf'/><br>
        </div>
        <div class="form-group">
            <label for='settingOfDream'>Setting(s) of dream</label>
            <input type="text" class="form-control" name='setting'/><br>
        </div>
        <div class="form-group">
            <label for="descriptionOfDream">Description of dream</label>
            <input type='textbox' class="form-control" name='description'/><br>
        </div>
        <div class="form-group">
            <label for="emotionsFelt">Emotion(s) experienced</label>
            <input type='text' class="form-control" name='emotions'/><br>
        <input type='submit' value='Log dream'/>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>